aiohappyeyeballs @ file:///croot/aiohappyeyeballs_1734469393482/work
aiohttp @ file:///croot/aiohttp_1734687138658/work
aiosignal @ file:///tmp/build/80754af9/aiosignal_1637843061372/work
altair @ file:///home/conda/feedstock_root/build_artifacts/altair-split_1734244716962/work
annotated-types @ file:///croot/annotated-types_1709542908624/work
anyio @ file:///croot/anyio_1745334642479/work
asgiref @ file:///croot/asgiref_1724072470684/work
async-timeout @ file:///croot/async-timeout_1703096998144/work
attrs @ file:///home/conda/feedstock_root/build_artifacts/attrs_1741918516150/work
backoff @ file:///home/conda/feedstock_root/build_artifacts/backoff_1626289577808/work
bcrypt @ file:///croot/bcrypt_1747402770140/work
blinker @ file:///home/conda/feedstock_root/build_artifacts/blinker_1731096409132/work
Bottleneck @ file:///croot/bottleneck_1731058641041/work
Brotli @ file:///home/conda/feedstock_root/build_artifacts/brotli-split_1648883617327/work
build @ file:///croot/python-build_1736540783915/work
cachetools @ file:///croot/cachetools_1738224668060/work
certifi @ file:///home/conda/feedstock_root/build_artifacts/certifi_1752493286596/work/certifi
cffi @ file:///home/conda/feedstock_root/build_artifacts/cffi_1636046050867/work
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1746214863626/work
chromadb @ file:///home/conda/feedstock_root/build_artifacts/chromadb_1751541705411/work
click @ file:///home/conda/feedstock_root/build_artifacts/click_1747811314515/work
coloredlogs @ file:///croot/coloredlogs_1736873914788/work
cryptography @ file:///croot/cryptography_1753084572505/work
dataclasses-json @ file:///croot/dataclasses-json_1749131708065/work
datasets @ file:///croot/datasets_1684482929171/work
Deprecated @ file:///opt/conda/conda-bld/deprecated_1659726428456/work
dill @ file:///croot/dill_1667919592856/work
distro @ file:///croot/distro_1714488253808/work
dnspython @ file:///croot/dnspython_1703096966733/work
durationpy @ file:///croot/durationpy_1750773515391/work
email_validator @ file:///home/conda/feedstock_root/build_artifacts/email-validator-meta_1733300719943/work
exceptiongroup @ file:///croot/exceptiongroup_1706031385326/work
fastapi @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_fastapi_1740751705/work
fastapi-cli @ file:///home/conda/feedstock_root/build_artifacts/fastapi-cli_1751972066250/work
filelock @ file:///croot/filelock_1744281381737/work
flatbuffers @ file:///croot/python-flatbuffers_1722369094438/work
frozenlist @ file:///croot/frozenlist_1730902802621/work
fsspec @ file:///croot/fsspec_1753796001797/work
gitdb @ file:///home/conda/feedstock_root/build_artifacts/gitdb_1735887193964/work
GitPython @ file:///home/conda/feedstock_root/build_artifacts/gitpython_1753444155689/work
gmpy2 @ file:///croot/gmpy2_1738085463648/work
google-auth @ file:///croot/google-auth_1741275169457/work
googleapis-common-protos @ file:///croot/googleapis-common-protos-feedstock_1742588908677/work
greenlet @ file:///croot/greenlet_1733860072744/work
grpcio @ file:///home/conda/feedstock_root/build_artifacts/grpc-split_1713388282847/work
h11 @ file:///croot/h11_1748442006460/work
h2 @ file:///home/conda/feedstock_root/build_artifacts/h2_1738578511449/work
hpack @ file:///home/conda/feedstock_root/build_artifacts/hpack_1737618293087/work
httpcore @ file:///croot/httpcore_1748526048470/work
httptools @ file:///croot/httptools_1732546866413/work
httpx @ file:///croot/httpx_1746747840559/work
httpx-sse @ file:///croot/httpx-sse_1734627584487/work
huggingface_hub @ file:///croot/huggingface_hub_1747423383041/work
humanfriendly @ file:///croot/humanfriendly_1736867665883/work
hyperframe @ file:///home/conda/feedstock_root/build_artifacts/hyperframe_1737618333194/work
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1733211830134/work
importlib_metadata @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_importlib-metadata_1747934053/work
importlib_resources @ file:///croot/importlib_resources-suite_1720641103994/work
Jinja2 @ file:///home/conda/feedstock_root/build_artifacts/jinja2_1741263328855/work
joblib @ file:///croot/joblib_1718217211762/work
jsonpatch @ file:///croot/jsonpatch_1714483231291/work
jsonpointer @ file:///croot/jsonpointer_1753788433671/work
jsonschema @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_jsonschema_1752925388/work
jsonschema-specifications @ file:///tmp/tmpuvkyqc9y/src
kubernetes @ file:///croot/python-kubernetes_1743549443578/work
langchain @ file:///croot/langchain_1746649153909/work
langchain-community @ file:///home/conda/feedstock_root/build_artifacts/langchain-community_1749640190094/work
langchain-core @ file:///home/conda/feedstock_root/build_artifacts/langchain-core_1753330949312/work
langchain-text-splitters @ file:///croot/langchain-text-splitters_1746641973243/work
langsmith @ file:///home/conda/feedstock_root/build_artifacts/langsmith_1749474179718/work
markdown-it-py @ file:///croot/markdown-it-py_1684279902645/work
MarkupSafe @ file:///home/conda/feedstock_root/build_artifacts/markupsafe_1648737547956/work
marshmallow @ file:///croot/marshmallow_1682620721570/work
mdurl @ file:///opt/conda/conda-bld/mdurl_1659716024347/work
mmh3 @ file:///croot/mmh3_1736366924692/work
monotonic==1.5
mpmath @ file:///croot/mpmath_1690848262763/work
multidict @ file:///croot/multidict_1730905498140/work
multiprocess @ file:///croot/multiprocess_1668006441451/work
mypy-extensions @ file:///croot/mypy_extensions_1695130926492/work
narwhals @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_narwhals_1753814733/work
networkx @ file:///croot/networkx_1720002482208/work
numexpr @ file:///croot/numexpr_1752521720723/work
numpy @ file:///croot/numpy_and_numpy_base_1708638617955/work/dist/numpy-1.26.4-cp310-cp310-linux_x86_64.whl#sha256=ce136f308f566617937abac6c8f280bd61b41c12ab7eb7d8784c5795c5be477b
oauthlib @ file:///croot/oauthlib_1750775444608/work
onnxruntime @ file:///croot/onnxruntime_1738340884285/work/build-ci/Release/dist/onnxruntime-1.20.1-cp310-cp310-linux_x86_64.whl#sha256=cc21d3105f29a526c25ac02176dbe4406f9f336ce5a30e05479e575b63ac74de
opentelemetry-api @ file:///home/conda/feedstock_root/build_artifacts/opentelemetry-api_1752286782057/work
opentelemetry-exporter-otlp-proto-grpc @ file:///home/conda/feedstock_root/build_artifacts/opentelemetry-exporter-otlp-proto-grpc_1671651488644/work
opentelemetry-instrumentation @ file:///home/conda/feedstock_root/build_artifacts/opentelemetry-instrumentation_1752294825583/work
opentelemetry-instrumentation-asgi @ file:///home/conda/feedstock_root/build_artifacts/opentelemetry-instrumentation-asgi_1752299382506/work
opentelemetry-instrumentation-fastapi @ file:///home/conda/feedstock_root/build_artifacts/opentelemetry-instrumentation-fastapi_1752302032932/work
opentelemetry-proto @ file:///home/conda/feedstock_root/build_artifacts/opentelemetry-proto_1671645954676/work
opentelemetry-sdk @ file:///home/conda/feedstock_root/build_artifacts/opentelemetry-sdk_1752299544546/work
opentelemetry-semantic-conventions @ file:///home/conda/feedstock_root/build_artifacts/opentelemetry-semantic-conventions_1752290706981/work
opentelemetry-util-http @ file:///home/conda/feedstock_root/build_artifacts/opentelemetry-util-http_1752262606837/work
orjson @ file:///croot/orjson_1737039092779/work
overrides @ file:///croot/overrides_1699371140756/work
packaging @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_packaging_1745345660/work
pandas @ file:///croot/pandas_1752846035684/work/dist/pandas-2.3.1-cp310-cp310-linux_x86_64.whl#sha256=c6d2c323b368a4b551221ea68749d31c7a4ae0426805ee73defef87a55d74119
pillow @ file:///croot/pillow_1752524526621/work
posthog @ file:///croot/posthog_1741101786841/work
propcache @ file:///croot/propcache_1744012718189/work
protobuf==4.25.3
pulsar-client @ file:///home/conda/feedstock_root/build_artifacts/pulsar-client_1725542253939/work/dist/pulsar_client-3.5.0-cp310-cp310-linux_x86_64.whl#sha256=2f12bade5b2bca493427af84bb3e287c29f1d1c174dd93e9e678ed3f40869732
pyarrow==13.0.0
pyasn1 @ file:///croot/pyasn1_1729239786406/work
pyasn1_modules @ file:///croot/pyasn1-modules_1752042891371/work
pybase64 @ file:///home/conda/feedstock_root/build_artifacts/pybase64_1753662879852/work
pycparser @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_pycparser_1733195786/work
pydantic @ file:///croot/pydantic_1750768261732/work
pydantic-settings @ file:///croot/pydantic-settings_1730800837989/work
pydantic_core @ file:///croot/pydantic-core_1750754736071/work
pydeck @ file:///home/conda/feedstock_root/build_artifacts/pydeck_1738346561094/work
Pygments @ file:///croot/pygments_1744664109463/work
pyOpenSSL @ file:///home/conda/feedstock_root/build_artifacts/pyopenssl_1747560772891/work
PyPika @ file:///home/conda/feedstock_root/build_artifacts/pypika_1734974148700/work
pyproject_hooks @ file:///croot/pyproject_hooks_1679584411881/work
PySocks @ file:///home/conda/feedstock_root/build_artifacts/pysocks_1733217236728/work
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_python-dateutil_1751104122/work
python-dotenv @ file:///croot/python-dotenv_1745610241282/work
python-multipart @ file:///croot/python-multipart_1743518669127/work
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1742920838005/work
PyYAML @ file:///croot/pyyaml_1728657952215/work
referencing @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_referencing_1737836872/work
regex @ file:///croot/regex_1736540786412/work
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1749498106507/work
requests-oauthlib @ file:///croot/requests-oauthlib_1720615017878/work
requests-toolbelt @ file:///croot/requests-toolbelt_1690874004362/work
responses @ file:///tmp/build/80754af9/responses_1619800270522/work
rich @ file:///croot/rich_1732638981168/work
rich-toolkit @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_rich-toolkit_1753752533/work
rpds-py @ file:///croot/rpds-py_1736541261634/work
rsa @ file:///tmp/build/80754af9/rsa_1614366226499/work
safetensors @ file:///croot/safetensors_1741361308036/work
scikit-learn @ file:///croot/scikit-learn_1753427383173/work
scipy @ file:///croot/scipy_1710947333060/work/dist/scipy-1.12.0-cp310-cp310-linux_x86_64.whl#sha256=f6849c3cbf9ec1117d692aeb3bd097de7184ee68a5f7534dc3115c23f700039f
sentence-transformers @ file:///croot/sentence-transformers_1753172450617/work
shellingham @ file:///croot/shellingham_1669142169426/work
six @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_six_1753199211/work
smmap @ file:///home/conda/feedstock_root/build_artifacts/smmap_1739781697784/work
sniffio @ file:///croot/sniffio_1705431295498/work
SQLAlchemy @ file:///croot/sqlalchemy_1752524428898/work
starlette @ file:///home/conda/feedstock_root/build_artifacts/starlette_1737823930525/work
streamlit @ file:///home/conda/feedstock_root/build_artifacts/streamlit_1753467150959/work
sympy @ file:///croot/sympy_1738108488918/work
tenacity @ file:///home/conda/feedstock_root/build_artifacts/tenacity_1743640740204/work
threadpoolctl @ file:///croot/threadpoolctl_1719407800858/work
tokenizers @ file:///croot/tokenizers_1741370336077/work
toml @ file:///home/conda/feedstock_root/build_artifacts/toml_1734091811753/work
tomli @ file:///croot/tomli_1753774587605/work
torch @ file:///croot/libtorch_1738269269729/work
torchaudio==2.5.1
torchvision==0.20.1
tornado @ file:///home/conda/feedstock_root/build_artifacts/tornado_1648827254365/work
tqdm @ file:///croot/tqdm_1738943501192/work
transformers @ file:///croot/transformers_1747857537440/work
typer==0.16.0
typer-slim==0.16.0
typing-inspect @ file:///croot/typing_inspect_1695742055572/work
typing-inspection @ file:///croot/typing-inspection_1746023470701/work
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_typing_extensions_1751643513/work
tzdata @ file:///croot/python-tzdata_1746123641790/work
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1750271362675/work
uvicorn @ file:///croot/uvicorn-split_1751615730076/work
uvloop @ file:///croot/uvloop_1732545176183/work
watchdog @ file:///home/conda/feedstock_root/build_artifacts/watchdog_1730492868936/work
watchfiles @ file:///croot/watchfiles_1732647634404/work
websocket-client @ file:///croot/websocket-client_1715878298792/work
websockets @ file:///croot/websockets_1751974421031/work
wrapt @ file:///croot/wrapt_1736540904746/work
xxhash @ file:///croot/python-xxhash_1737039434400/work
yarl @ file:///croot/yarl_1732546845924/work
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1749421620841/work
zstandard @ file:///croot/zstandard_1731356346222/work
